<main>
  <h1>id: {{admInfo._id}}</h1>
  <h1>Name: {{admInfo.name}}</h1>
  <h1>login: {{admInfo.login}}</h1>
  <h1>password: {{admInfo.password}}</h1>
  <h1>
    {{admInfo.allUsers}}
  </h1>
  <button id = "logout-button">logout</button>
</main>